{% extends 'base.html.twig' %}

{% block title %}ACCEUIL{% endblock %}

{% block body %}

	<div class="container-fluid">

		{% if is_granted('ROLE_ADMIN') %}
			<div>
				<h1>Bonjour Administrateur</h1>
			</div>
		{% else %}
			<div>
				<h1>Bonjour Utilisateur</h1>
			</div>
		{% endif %}

		<p id = "informations">Vos Informations</p>
		<ul>
			<li> identifiant : {{ app.user.id }} </li>
			<li> nom : {{ app.user.username }} </li>
			<li>
				Rôles :
				<ul>
					{% for role in app.user.roles %}
					<li>{{ role }}</li>
					{% endfor %}
				</ul>
			</li>
		</ul>

	</div>

	<div>
		<a href="#">
			<button type="button" id="coordonnees" class="btn btn-outline-secondary">Mes Coordonnées</button>
		</a>
	</div>

	<div style="position:absolute; top:0;right:20px;">
		<a href="{{ path('deconnexion') }}">
			<button type="button" class="btn btn-outline-secondary">Deconnexion</button>
		</a>
	</div>

{% endblock %}