{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post" action="{{ path('login') }}">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('deconnexion') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputUserName"></label>
		<input type="text" name="last_username" id="last_username" class="form-control input_user" placeholder="username">
		<label for="inputPassword"></label>
		<input
		type="password" id="inputPassword" name="_password" class="form-control input_password" placeholder="password">

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>

		<a style='height:60px' class="btn btn-success" href="" role="button">register</a>

	</form>
{% endblock %}
