{% extends 'base.html.twig' %}

{% block title %}inscription
{% endblock %}

{% block body %}

<p></p>


    <table style="width:100%">
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        <tr>
            <td>{{ users[0].username }}</td>
            <td>{{ users[0].email }}</td>
            <td>{{ users[0].password }}</td>
            <td>{{ users[0].roles[0] }}</td>
        </tr>
        <tr>
            <td>{{ users[1].username }}</td>
            <td>{{ users[1].email }}</td>
            <td>{{ users[1].password }}</td>
            <td>{{ users[1].roles[0] }}</td>
        </tr>
    </table>

{% endblock %}

